name: Test & Build builder.js
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'src/**'
      - 'libcompiler.**'
      - 'package.json'
      - 'package-lock.json'
  push:
    branches:
      - main
      -
      - 'release/*'
    paths:
      - 'src/**'
      - 'libcompiler.**'
      - 'package.json'
      - 'package-lock.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test & Build
    runs-on: ubuntu-22.04
    env: 
      # for private repo access
      GITHUB_ACCESS_TOKEN: ${{ secrets.GH_READ_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run test
      - run: npm run lint
      - run: npm run build
