name: Build & Test
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'src/**'
      - 'libcompiler.**'
      - 'package.json'
      - 'package-lock.json'
  push:
    branches:
      - main
      - 'release/*'
    paths:
      - 'src/**'
      - 'libcompiler.**'
      - 'package.json'
      - 'package-lock.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Build & Test tsc
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x] 
    env: 
      # for private repo access
      GITHUB_ACCESS_TOKEN: ${{ secrets.GH_READ_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install
      - run: npm run build
      # for private repo access
      - run: git config --global url.https://${GITHUB_ACCESS_TOKEN}:x-oauth-basic@github.com/.insteadOf https://github.com/
      - run: npm run test
